body{
    font-family: 'Harlow Solid Italic', sans-serif;
    background: url("https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-simple-and-elegant-pale-powder-banner-background-pinkstraight-linewhitesimple-image_80912.jpg");
    padding:0px 0;
}
.wrapper{
    width:700px;
    min-height: 700px;
    border: 10px solid #fadadd;
    margin:0 auto;
    background: #fadadd;
}
.header{
    display:flex;
    height: 150px;
}
.info{
    display:flex;
    width: 80%;
    height:100%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: url("https://avatanplus.com/files/resources/original/57657c09e5711155646c86d4.jpg") no-repeat center center / cover;
    color: darkslategray;
    opacity: 0.75;
    margin-right: 10px;
}
.pic{
    display:flex;
    width:20%;
    height:100%;
    background: url("https://i.pinimg.com/originals/10/7f/c4/107fc4c47603ce5d196bf58a47d30587.jpg") no-repeat center center / cover;
}
.nav ul{
    display: flex;
    background: #fdd3ff;
}

.nav li ul{
    position: absolute;
    min-width: 150px;
    display: none;
}
.nav li:hover >ul{
    display:block;
}

.nav li a{
    display: flex;
    padding: 15px;
    text-decoration: none;
    color: darkslategray;
    font-width: bold;
    border-right: 1px solid #c9a0dc;
}

.nav li a:hover{
    background: #f0c6ff;
}

.content{
    width:100%;
}
.photo p{
     text-align: center;
    font-size: 14px;
 }
.photo{
    width:41%;
}
.photo2{
    padding-left: 10px;
    padding-right: 10px;
    width:80%;
    margin-bottom: 5px;
}
